.about{
  margin-top:6%;
  max-width: 1450px;
  margin-right:20px;
  margin-left:20px;
}
/* #aboutCarousel .carousel-inner{
  overflow-y:scroll;
} */


#aboutCarousel .carousel-caption-top{
  top:0;
  bottom:0;
}
/* #aboutCarousel .carousel-control-prev , #aboutCarousel .carousel-control-next{
  top: 109% !important;
  margin-left: 20%;
  margin-right:20%;
} */

/* #aboutCarousel .carousel-control-prev-icon{
background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='backward' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-backward fa-3x fa-w-16'%3E%3Cpath fill='white' d='M11.5 280.6l192 160c20.6 17.2 52.5 2.8 52.5-24.6V96c0-27.4-31.9-41.8-52.5-24.6l-192 160c-15.3 12.8-15.3 36.4 0 49.2zm256 0l192 160c20.6 17.2 52.5 2.8 52.5-24.6V96c0-27.4-31.9-41.8-52.5-24.6l-192 160c-15.3 12.8-15.3 36.4 0 49.2z' class=''%3E%3C/path%3E%3C/svg%3E") !important;
}

#aboutCarousel .carousel-control-next-icon{
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='forward' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-forward fa-3x fa-w-16'%3E%3Cpath fill='white' d='M500.5 231.4l-192-160C287.9 54.3 256 68.6 256 96v320c0 27.4 31.9 41.8 52.5 24.6l192-160c15.3-12.8 15.3-36.4 0-49.2zm-256 0l-192-160C31.9 54.3 0 68.6 0 96v320c0 27.4 31.9 41.8 52.5 24.6l192-160c15.3-12.8 15.3-36.4 0-49.2z' class=''%3E%3C/path%3E%3C/svg%3E") !important;
} */

/* #aboutCarousel .carousel-control-prev-icon , #aboutCarousel .carousel-control-next-icon{
  width: 50px !important;
  height:50px !important;
} */
#aboutCarousel .carousel{
  width:100%;
  height: 80vh;
  background: none repeat scroll 0 0 #0B0D0C;
  padding:10px;
  margin-top:35px;
  margin-right:auto;
  margin-left:auto;
}
#aboutCarousel .carousel-item{
  height: 70vh;
  min-height: 350px;
  overflow: hidden;
  background: no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutCarousel .carousel-inner{
  width:100%;
  background: none repeat scroll 0 0 black;
  padding:10px;
  margin-top:35px;
  margin-right:auto;
  margin-left:auto;
}

#aboutCarousel .carousel-img{
  opacity:0.4;
  background-color: #131313;
  min-height:100%;
}
